// Variables
$padding: 20px;
$radius: 7px;
$border: 1px solid rgb(199,204,209);
$white: #fff;

// Reset
* {
  vertical-align: middle;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 1em;
  letter-spacing: 0;
  box-sizing: border-box;
}
// App
#app {
  margin: 0;
  padding: 20px;
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $grey;
  margin: 10px;
  width: 900px;
  height: 100px;
}